/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
.lightblue h1, .lightblue h2, .lightblue h3, .lightblue a, .lightblue .taglib-discussion .lfr-discussion-header .posted-on {
  color: #1C88CB; }

.lightblue .taglib-discussion-header {
  background-color: #AFD8ED; }

.lightblue .special-un-column .portlet-asset-publisher,
.special-un-column .portlet-asset-publisher.lightblue {
  border-color: #C8E9FF;
  background-color: white;
  background-image: url(../images/custom/background_lightblue_1.png); }

.lightblue .special-un-column.special-un-column-middle .portlet-asset-publisher,
.special-un-column.special-un-column-middle .portlet-asset-publisher.lightblue {
  background-color: #F5FAFD;
  background-image: url(../images/custom/background_lightblue_2.png); }

.lightblue .tooltip:hover span {
  border-color: #8BDCD9; }

.lightblue tr.portlet-section-header.results-header {
  background-color: #39A0E0;
  background-image: url(../images/custom/gradated-background.png); }

.lightblue .chrome tr.portlet-section-header.results-header {
  background-color: #39A0E0; }

/* ------ Message Boards Portlet ------ */
.lightblue .portlet-message-boards .thread-controls {
  background-color: #39A0E0; }

/* ------ Breadcrumbs ------ */
.lightblue .breadcrumbs li {
  color: #1C88CB; }

.darkblue h1, .darkblue h2, .darkblue h3, .darkblue a, .darkblue .taglib-discussion .lfr-discussion-header .posted-on {
  color: #265D89; }

.darkblue .taglib-discussion-header {
  background-color: #5185AE; }

.darkblue .taglib-discussion-header .subscription .taglib-icon {
  color: white; }

.darkblue .special-un-column .portlet-asset-publisher,
.special-un-column .portlet-asset-publisher.darkblue {
  border-color: #B6BED4;
  background-color: white;
  background-image: url(../images/custom/background_darkblue_1.png); }

.darkblue .special-un-column.special-un-column-middle .portlet-asset-publisher,
.special-un-column.special-un-column-middle .portlet-asset-publisher.darkblue {
  background-color: #F2F5F7;
  background-image: url(../images/custom/background_darkblue_2.png); }

.darkblue input[type="submit"], .darkblue input[type="button"], .darkblue input[type="reset"], .darkblue button, button.aui-toolbar-item {
  border-color: #B6BED4; }

.darkblue .tooltip:hover span {
  border-color: #003762; }

.darkblue tr.portlet-section-header.results-header, .darkblue .chrome tr.portlet-section-header.results-header {
  background-color: #265D89; }

/* ------ Message Boards Portlet ------ */
.darkblue .portlet-message-boards .thread-controls {
  background-color: #265D89; }

.darkblue .breadcrumbs li span {
  background-image: url(../images/custom/breadcrumbs_darkblue.png); }

.darkblue .breadcrumbs .last span {
  background-image: none; }

/* ------ Breadcrumbs ------ */
.darkblue .breadcrumbs li {
  color: #265D89; }

.red h1, .red h2, .red h3, .red a, .red .taglib-discussion .lfr-discussion-header .posted-on {
  color: #9D0D15; }

.red .taglib-discussion-header {
  background-color: #B28484; }

.red .taglib-discussion-header .subscription .taglib-icon {
  color: white; }

.red .special-un-column .portlet-asset-publisher,
.special-un-column .portlet-asset-publisher.red {
  border-color: #C8A9A9;
  background-color: white;
  background-image: url(../images/custom/background_red_1.png); }

.red .special-un-column.special-un-column-middle .portlet-asset-publisher,
.special-un-column.special-un-column-middle .portlet-asset-publisher.red {
  background-color: #FAF3F3;
  background-image: url(../images/custom/background_red_2.png); }

.red input[type="submit"], .red input[type="button"], .red input[type="reset"], .red button, .red button.aui-toolbar-item {
  border-color: #C8A9A9; }

.red .tooltip:hover span {
  border-color: #9D0D15; }

.red tr.portlet-section-header.results-header, .red .chrome tr.portlet-section-header.results-header {
  background-color: #9D0D15; }

/* ------ Message Boards Portlet ------ */
.red .portlet-message-boards .thread-controls {
  background-color: #9D0D15; }

.red .breadcrumbs .last span {
  background-image: none; }

/* ------ Breadcrumbs ------ */
.red .breadcrumbs li {
  color: #9D0D15; }

.red .breadcrumbs li span {
  background-image: url(../images/custom/breadcrumbs_red.png); }

.green h1, .green h2, .green h3, .green a, .green .taglib-discussion .lfr-discussion-header .posted-on {
  color: #4D6811; }

.green .taglib-discussion-header {
  background-color: #92A85E; }

.green .taglib-discussion-header .subscription .taglib-icon {
  color: white; }

.green .special-un-column .portlet-asset-publisher, .special-un-column .portlet-asset-publisher.green {
  border-color: #9EB7A2;
  background-color: white;
  background-image: url(../images/custom/background_green_1.png); }

.green .special-un-column.special-un-column-middle .portlet-asset-publisher, .special-un-column.special-un-column-middle .portlet-asset-publisher.green {
  background-color: #F6F7F3;
  background-image: url(../images/custom/background_green_2.png); }

.green input[type="submit"], .green input[type="button"], .green input[type="reset"], .green button, .green button.aui-toolbar-item {
  border-color: #9EB7A2; }

.green .tooltip:hover span {
  border-color: #4D6811; }

.green tr.portlet-section-header.results-header, .green .chrome tr.portlet-section-header.results-header {
  background-color: #4D6811; }

/* ------ Message Boards Portlet ------ */
.green .portlet-message-boards .thread-controls {
  background-color: #4D6811; }

.green .breadcrumbs .last span {
  background-image: none; }

/* ------ Breadcrumbs ------ */
.green .breadcrumbs li {
  color: #4D6811; }

.green .breadcrumbs li span {
  background-image: url(../images/custom/breadcrumbs_green.png); }

/* ---------- Discussion ---------- */
.taglib-discussion .taglib-text {
  text-decoration: none; }

.taglib-discussion .taglib-icon {
  color: black; }

.taglib-discussion-header {
  height: 42px;
  margin-bottom: 6px;
  padding-left: 18px; }

.taglib-discussion-header .header-text {
  color: white;
  font-size: 17px;
  padding-top: 9px; }

.taglib-discussion-header .subscription {
  float: right;
  margin: 14px 8px 0px 0px; }

.taglib-discussion .taglib-ratings {
  display: none; }

.taglib-discussion .taglib-user-display {
  float: left; }

.taglib-discussion .taglib-user-display .user-name {
  display: none; }

.taglib-discussion .lfr-discussion {
  margin-bottom: 8px; }

.taglib-discussion .lfr-discussion.new {
  border-bottom: 0px;
  border-top: 0px;
  padding-top: 13px; }

.taglib-discussion .lfr-discussion.last {
  border-bottom: 1px solid #DDD;
  margin-bottom: 0px; }

.taglib-discussion .lfr-discussion-body-content {
  padding-top: 0px; }

.taglib-discussion .lfr-discussion-header .user-name {
  font-size: 17px; }

.taglib-discussion .lfr-discussion-header .posted-on {
  font-size: 10px;
  float: right;
  margin-top: 5px; }

.taglib-discussion .lfr-discussion-message {
  font-size: 11px;
  margin: 3px 23px 0px 23px;
  text-align: justify; }

.taglib-discussion .aui-button-holder {
  float: right;
  margin-top: 0px;
  text-align: right; }

/* ---------- Social bookmarks ---------- */
.taglib-social-bookmarks {
  background: white; }

/* ---------- Header ---------- */
.taglib-header .header-back-to a {
  padding-top: 3px; }

.portlet-journal-content .journal-content-article li {
  list-style-type: square; }

/* ---------- Asset Publisher ---------- */
.portlet-asset-publisher .taglib-header {
  border-bottom-width: 0;
  margin-bottom: 20px;
  text-align: left; }

.portlet-asset-publisher .taglib-header .header-back-to {
  display: none; }

.portlet-asset-publisher .portlet-title, .portlet-blogs .portlet-title {
  color: black;
  font-size: 16px;
  font-weight: normal;
  margin-top: 5px; }

.portlet-asset-publisher .portlet-title .icon, .portlet-blogs .portlet-title .icon {
  display: none; }

.portlet-asset-publisher .portlet-content, .portlet-blogs .portlet-content {
  padding: 0px; }

.portlet-asset-publisher .asset-title {
  border-bottom: none;
  font-size: 12px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 10px; }

.portlet-asset-publisher .asset-title img, .portlet-asset-publisher .title-list img {
  display: none;
  position: relative;
  top: 2px; }

.portlet-asset-publisher .asset-abstract .asset-category {
  font-size: 10px;
  font-style: italic; }

.portlet-asset-publisher li.title-list {
  margin-bottom: 10px; }

.portlet-asset-publisher .title-list .taglib-text {
  text-decoration: none; }

.portlet-asset-publisher .asset-content {
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: 0px; }

.portlet-asset-publisher .asset-abstract .asset-content {
  font-size: 11px; }

.portlet-asset-publisher .asset-more {
  display: none; }

.portlet-asset-publisher .maximize-portlet {
  margin-bottom: 5px;
  text-align: right; }

.js .portlet-asset-publisher .maximize-portlet {
  bottom: 3px;
  margin-bottom: 0px;
  position: absolute;
  right: 12px; }

.portlet-asset-publisher.right-menu .maximize-portlet {
  bottom: auto;
  padding-bottom: 5px;
  position: relative;
  right: auto; }

.portlet-asset-publisher.right-menu .maximize-portlet a {
  font-weight: normal; }

.portlet-asset-publisher .asset-small-image {
  float: left;
  padding-left: 0px;
  padding-right: 10px;
  width: 191px; }

.portlet-asset-publisher .asset-maximized {
  margin-bottom: 25px; }

.portlet-asset-publisher .asset-maximized .asset-title {
  font-size: 13px; }

.portlet-asset-publisher .asset-maximized .asset-content {
  margin-top: 8px; }

.js .special-un-column .portlet-column-content.portlet-column-content-first .portlet-asset-publisher .maximize-portlet {
  right: 17px; }

.js .special-un-column .portlet-column-content.portlet-column-content-last .portlet-asset-publisher .maximize-portlet {
  right: 7px; }

.portlet-asset-publisher .final-separator {
  margin-bottom: 0px; }

.portlet-asset-publisher .portlet-msg-info {
  background-image: none;
  margin-top: 6px;
  padding-left: 8px; }

.portlet-asset-publisher .add-asset-selector {
  margin: 0px; }

/* ---------- ISM Search ---------- */
.portlet-ism-search .filter {
  background: #ecf7fd url(../images/custom/background_rightmenu.png) no-repeat 0 0;
  border: 1px solid #C8E9FF;
  float: right;
  width: 245px; }

.portlet-ism-search .filter-header {
  background-color: #39A0E0;
  color: white;
  font-size: 14px;
  height: 25px;
  text-align: center; }

.portlet-ism-search .filter-content {
  padding: 0px 15px 7px 15px; }

.portlet-ism-search .filter-header span {
  vertical-align: middle; }

.portlet-ism-search .aui-button-holder {
  clear: none;
  text-align: center; }

.portlet-ism-search .filter .aui-button-input {
  width: 105px; }

.portlet-ism-search .filter .lfr-panel {
  margin-top: 15px; }

.portlet-ism-search .filter .lfr-panel-titlebar {
  background-image: url(../images/custom/minus.png);
  background-position: right;
  margin-bottom: 0px;
  padding-right: 15px;
  padding-left: 0px; }

.portlet-ism-search .filter .lfr-collapsed .lfr-panel-titlebar {
  background-image: url(../images/custom/plus.png);
  margin-bottom: 25px; }

.portlet-ism-search .filter .lfr-panel-title {
  font-size: 13px; }

.portlet-ism-search .filter .lfr-panel-content {
  border-bottom: 1px solid #39A0E0;
  margin-top: 5px;
  padding-bottom: 20px; }

.portlet-ism-search .filter .aui-field-content {
  margin-bottom: 3px;
  margin-top: 2px; }

.portlet-ism-search .filter .lfr-panel-content .aui-field-element.aui-field-label-right input {
  margin-top: 4px; }

.portlet-ism-search .filter .lfr-panel-content .aui-field-label {
  display: inline-block;
  font-size: 11px;
  font-weight: normal;
  max-width: 171px; }

.portlet-ism-search .filter .aui-field-input-select {
  font-size: 11px;
  width: 190px; }

.portlet-ism-search .search-content {
  width: 590px; }

.portlet-ism-search .searchbox {
  background-color: #AFD8ED;
  border: 1px solid #BFE0F1;
  padding: 5px; }

.portlet-ism-search .searchbox .aui-button-holder, .portlet-ism-search .searchbox .aui-fieldset {
  display: inline-block;
  margin: 0px; }

.portlet-ism-search .searchbox .aui-button-holder {
  float: right;
  vertical-align: middle; }

.portlet-ism-search .searchbox .aui-field-input-text {
  font-size: 12px;
  padding-left: 5px;
  width: 425px; }

.portlet-ism-search .searchbox .aui-field-content {
  margin: 0px; }

.portlet-ism-search .searchbox .aui-button-input-submit {
  margin-right: 10px;
  height: 26px;
  width: 117px; }

.portlet-ism-search .results-content {
  margin-top: 10px; }

.portlet-ism-search .results-grid, .portlet-ism-search .results-row td {
  border: 0px;
  padding-bottom: 15px; }

.portlet-ism-search .results-grid .asset-title {
  border: 0px;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 3px; }

.portlet-ism-search .taglib-search-iterator, .portlet-ism-search .taglib-page-iterator {
  clear: none; }

/* ---------- Message boards ---------- */
.portlet-message-boards .top-links-container {
  margin-bottom: 10px; }

.portlet-message-boards .top-links {
  float: none; }

.portlet-message-boards .top-links .top-links-navigation {
  margin-top: 4px; }

.portlet-message-boards .category-search .aui-field-input-text {
  width: 100px; }

.portlet-message-boards .opens-new-window-accessible {
  display: none; }

.portlet-message-boards .thread-navigation {
  display: none; }

.portlet-message-boards .thread-controls {
  border: 0px;
  margin-top: 5px;
  padding-top: 3px;
  padding-left: 10px;
  height: 18px; }

.portlet-message-boards .thread-title {
  color: white;
  display: inline;
  font-weight: bold;
  margin-top: 2px; }

.portlet-message-boards .message-container {
  border-color: #B6BED4; }

.portlet-message-boards .message-container .user-info {
  border-right-color: #F3F5F5;
  font-size: 11px;
  padding-left: 10px;
  padding-top: 10px;
  width: 130px; }

.portlet-message-boards .message-container .results-row.alt .user-info {
  border-right-color: #F3F4F5;
  padding-top: 10px; }

.portlet-message-boards .lfr-top {
  padding-top: 8px; }

.portlet-message-boards .user-name {
  font-size: 12px;
  font-weight: bold; }

.portlet-message-boards .message-container .taglib-user-display .user-name {
  display: none; }

.portlet-message-boards .taglib-user-display {
  padding: 0px; }

.portlet-message-boards .taglib-user-display .user-profile-image {
  margin-top: 10px;
  text-align: left; }

.portlet-message-boards .thread-top {
  padding-top: 0px; }

.portlet-message-boards .thread-top .subject a {
  color: black;
  font-size: 11px; }

.portlet-message-boards .thread-bottom {
  background-color: #F3F5F5;
  font-size: 11px;
  padding-left: 10px;
  padding-right: 0px; }

.portlet-message-boards h1.header-title {
  font-size: 14px; }

.portlet-message-boards .results-row.alt .thread-bottom {
  background-color: #F3F4F5; }

.portlet-message-boards .thread-bottom .taglib-icon .taglib-text {
  text-decoration: none; }

.portlet-message-boards .no-display {
  display: none; }

.portlet-message-boards .new-permissions {
  display: none; }

.portlet-message-boards .results-grid.aui-searchcontainer-content {
  border: 0px; }

.portlet-message-boards .lfr-search-container .portlet-section-alternate td {
  background-color: transparent; }

.portlet-message-boards .lfr-search-container td {
  border: 0px; }

.portlet-message-boards .lfr-search-container tr {
  border: 1px solid #D7D7D7; }

.portlet-message-boards .lfr-search-container td.col-1, .portlet-message-boards .lfr-search-container td.col-3 {
  background-color: #F3F4F5; }

.portlet-message-boards #messageBoardsThreadsPanel th.col-1 {
  font-size: 0px; }

.portlet-message-boards #messageBoardsThreadsPanel td.col-2 span {
  font-size: 11px; }

.portlet-message-boards #messageBoardsThreadsPanel td.col-1 {
  padding: 5px;
  width: 10px; }

.portlet-message-boards #messageBoardsThreadsPanel .col-3, .portlet-message-boards #messageBoardsThreadsPanel th.col-4 {
  text-align: center;
  width: 30px; }

.portlet-message-boards #messageBoardsThreadsPanel td.col-4 {
  font-size: 11px;
  text-align: right;
  width: 170px; }

.portlet-message-boards #messageBoardsCategoriesPanel .results-header {
  display: none; }

.portlet-message-boards #messageBoardsCategoriesPanel .search-results {
  display: none; }

.portlet-message-boards #messageBoardsCategoriesPanel tr {
  border: 0px; }

.portlet-message-boards #messageBoardsCategoriesPanel td {
  background-color: transparent;
  border: 0px; }

/* ---------- ISM Plugin ---------- */
.portlet-ism-plugin {
  margin-bottom: 30px; }

.portlet-ism-plugin .portlet-content {
  padding-bottom: 0px; }

.portlet-ism-plugin .portlet-msg-info {
  margin-bottom: 0px; }

/* ---------- Navigation ---------- */
.portlet-navigation .icon {
  display: none; }

/* ---------- Asset Category Admin ---------- */
.portlet-asset-category-admin .categories-treeview-container .aui-tree-node-content .aui-tree-label {
  display: block;
  float: none;
  margin-left: 15px;
  padding-bottom: 15px;
  text-align: left; }

.portlet-asset-category-admin .aui-tree-node-checkbox-container {
  padding-right: 3px; }

.portlet-asset-category-admin .vocabulary-categories, .portlet-asset-category-admin .categories-treeview-container {
  overflow: visible; }

/* ---------- Workflow ---------- */
.portlet-workflow-tasks .taglib-discussion-header,
.portlet-workflow-definitions .taglib-discussion-header,
.portlet-workflow-instances .taglib-discussion-header {
  background-color: transparent;
  height: 25px; }

.portlet-workflow-tasks .taglib-discussion-header .subscription,
.portlet-workflow-definitions .taglib-discussion-header .subscription,
.portlet-workflow-instances .taglib-discussion-header .subscription {
  margin-top: 8px; }

.portlet-workflow-tasks .taglib-discussion .header-text,
.portlet-workflow-definitions .taglib-discussion .header-text,
.portlet-workflow-instances .taglib-discussion .header-text {
  display: none; }

input[type="text"], input[type="password"], input[type="file"], input[type="submit"], input[type="button"], input[type="reset"], select, textarea, .textarea, button {
  /*background-image: url(../images/forms/input_shadow.png);*/
  background-repeat: no-repeat;
  border: 1px solid;
  border-color: #BFBFBF #DEDEDE #DEDEDE #BFBFBF;
  font: 1em Arial, Helvetica, Verdana, sans-serif; }

input[type="submit"], input[type="button"], input[type="reset"], button, button.aui-toolbar-item {
  background-image: none;
  background-color: white;
  border: 1px solid;
  border-color: #39A0E0;
  box-shadow: 1px 1px 3px #B0B0B0;
  color: #313131;
  cursor: pointer;
  font-weight: normal;
  margin-bottom: 3px;
  overflow: visible;
  padding: 5px;
  width: auto; }
  input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, button:hover, button.aui-toolbar-item:hover {
    /*background: #B9CED9 url(../images/application/state_hover_bg.png) repeat-x 0 0;*/
    background-color: #EDF7FD;
    background-image: none;
    border-color: #39A0E0;
    color: #369; }
  input[type="submit"]:focus, input[type="button"]:focus, input[type="reset"]:focus, button:focus, button.aui-toolbar-item:focus {
    /*background: #EBEBEB url(../images/application/state_active_bg.png) repeat-x 0 0;*/
    background-color: #EDF7FD;
    border-color: #555; }

input.focus, textarea.focus {
  background: #FFC none;
  border: 1px solid #FC0; }

.lfr-actions.lfr-extended, .lfr-actions.lfr-extended ul {
  background-image: none;
  background-color: white;
  border: 1px solid;
  border-color: #39A0E0;
  box-shadow: 1px 1px 3px #B0B0B0;
  color: #313131;
  cursor: pointer;
  font-weight: normal;
  margin-bottom: 3px;
  overflow: visible;
  padding: 5px;
  width: auto;
  padding: 0; }
.lfr-actions.lfr-extended:focus, .lfr-actions.lfr-extended:focus ul {
  /*background: #EBEBEB url(../images/application/state_active_bg.png) repeat-x 0 0;*/
  background-color: #EDF7FD;
  border-color: #555; }
.lfr-actions.lfr-extended.disabled, .lfr-actions.lfr-extended.disabled ul, .lfr-actions.lfr-extended.disabled:hover, .lfr-actions.lfr-extended.disabled:hover ul {
  background: #d4d4d4 url(../images/portlet/header_bg.png) repeat-x 0 0;
  border-color: #C8C9CA #9E9E9E #9E9E9E #C8C9CA;
  color: #555;
  opacity: 0.5; }
.lfr-actions.lfr-extended:hover, .lfr-actions.lfr-extended:hover ul {
  /*background: #B9CED9 url(../images/application/state_hover_bg.png) repeat-x 0 0;*/
  background-color: #EDF7FD;
  background-image: none;
  border-color: #39A0E0;
  color: #369; }

.aui-button-disabled input[type], .aui-button-disabled input[type]:hover, .aui-button-disabled input[type]:focus, .aui-button-disabled button, .aui-button-disabled button:hover, .aui-button-disabled button:focus {
  background: #d4d4d4 url(../images/portlet/header_bg.png) repeat-x 0 0;
  border-color: #C8C9CA #9E9E9E #9E9E9E #C8C9CA;
  color: #555;
  opacity: 0.5; }

.aui-buttonitem-disabled {
  background: #d4d4d4 url(../images/portlet/header_bg.png) repeat-x 0 0;
  border-color: #C8C9CA #9E9E9E #9E9E9E #C8C9CA;
  color: #555;
  opacity: 0.5; }

input.aui-form-validator-error, textarea.aui-form-validator-error, select.aui-form-validator-error {
  border-color: #900;
  border-style: dotted; }

.aui-field-content {
  text-align: left; }

.aui-field-choice .aui-field-label {
  display: inline; }

/* Custom from extras.css */
body > .lfr-menu-list, body > .lfr-menu-list ul, .lfr-actions, .aui-dialog-content, .aui-dialog .yui3-widget-hd, .modify-pages .delete-tab, input[type="submit"], input[type="button"], input[type="reset"], button, .tags-search-combobox .aui-field-input-text, .staging-icon-menu-container .staging-icon-menu.lfr-actions .lfr-trigger strong a, .active-area-proxy, .portlet-document-library .document-display-style .document-thumbnail img, .portlet-document-library-display .document-display-style .document-thumbnail img, .aui-paginator-link, .lfr-header-row .aui-toolbar-only, .lfr-translation-manager, .lfr-translation-manager-translation, .select-documents, .select-files, .taglib-ratings.stars:hover, .taglib-ratings.stars:hover .liferay-rating-vote, .rule-group-instance-container .rule-group-instance {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px; }

select {
  border: 1px solid #39A0E0;
  background-color: white; }

/* ---------- Base styles ---------- */
body {
  background-color: #DDF0FB;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  text-align: justify; }

a:LINK, a:VISITED {
  text-decoration: none; }

a:HOVER, a:ACTIVE {
  text-decoration: underline; }

.portlet-dockbar a {
  color: black; }

h1 {
  font-size: 20px;
  margin-top: 0px;
  line-height: 22px; }

h2 {
  font-size: 18px; }

h3 {
  font-size: 16px; }

#wrapper {
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  margin-left: auto; }

#topbar {
  background: #48a7e2 url(../images/custom/gradated-background.png) repeat-y 0 0;
  color: white;
  font-size: 11px;
  font-weight: bold;
  height: 21px;
  padding-right: 18px;
  text-align: right; }

#topbar a {
  color: white;
  font-weight: bold;
  padding-left: 8px;
  vertical-align: middle; }

#topbar .sign-in-link a {
  background: url(../images/common/key_small.png) no-repeat 3px 50%;
  padding-left: 17px; }

#topbar .sign-out-link a {
  padding-right: 5px; }

#topbar .dashboard-link.dashboard-selected {
  font-style: italic; }

#portal-banner {
  background: #bdd1e0 url(../images/custom/ldcportal-banner.jpg);
  display: block;
  height: 118px; }

#navigation {
  background: #48a7e2 url(../images/custom/gradated-background.png) repeat-y 0 0;
  display: block;
  height: 33px; }

#navigation ul {
  display: block;
  margin: 0px 0px 0px 37px;
  padding-top: 6px; }

#navigation li {
  display: inline-block;
  letter-spacing: -1px;
  list-style: none;
  margin-right: 17px;
  list-style: none; }

#navigation li.selected {
  font-weight: bold; }

#navigation li a {
  color: white;
  font-size: 15px; }

#main-search {
  float: right;
  margin-right: 7px;
  margin-top: 4px; }

#main-search select {
  display: none; }

#main-search .search-text-container {
  width: 90px; }

#content {
  background-color: white;
  border: 0px;
  border-left: 1px solid #B4DDF6;
  border-right: 1px solid #57B7F2;
  padding: 10px 19px 12px 20px; }

/* ---------- Tooltip ---------- */
.tooltip {
  border-bottom: 1px dotted #C8E9FF;
  cursor: help;
  outline: none;
  text-decoration: none;
  position: relative; }

.tooltip span {
  margin-left: -999em;
  position: absolute; }

.tooltip:hover {
  text-decoration: none; }

.tooltip:hover span {
  background: white;
  border-width: 1px;
  border-style: solid;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  color: black;
  position: absolute;
  left: 1em;
  top: 1.5em;
  z-index: 99;
  margin-left: 0;
  padding: 5px;
  width: 250px;
  position: absolute;
  color: black; }

/* ---------- Footer ---------- */
#footer {
  background: #48a7e2 url(../images/custom/gradated-background.png) repeat-y 0 0;
  display: block;
  height: 19px; }

#footer ul {
  margin: 0px;
  padding-top: 0px;
  text-align: center; }

#footer li {
  color: white;
  display: inline;
  list-style: none; }

#footer li a {
  color: white;
  font-size: 11px; }

/* ---------- Right menu ---------- */
.aui-w30 {
  padding-left: 15px; }

.right-menu .portlet {
  padding-bottom: 13px;
  text-align: left; }

.right-menu .portlet-body a {
  color: #39A0E0;
  font-weight: bold; }

.right-menu .portlet-title {
  background-color: #39A0E0;
  color: white;
  font-size: 13px;
  height: 23px;
  text-align: center; }

.right-menu .portlet-title-text {
  vertical-align: middle; }

.right-menu .portlet-content {
  background: #ecf7fd url(../images/custom/background_rightmenu.png) no-repeat 0 0;
  border: 1px solid #C8E9FF;
  padding: 0px 10px 0px 10px; }

.right-menu h3.asset-title, .right-menu ul.title-list li {
  background: transparent 0 6px no-repeat url(../images/custom/blue_bullet.png);
  text-indent: 12px; }

/* ---------- Portal Pop Up ---------- */
.portal-popup .lfr-panel.lfr-extended .lfr-panel-titlebar {
  background: white;
  border: 1px solid #39A0E0; }

.portal-popup .lfr-panel .lfr-panel-titlebar .lfr-panel-title {
  color: #1C88CB; }

/* ---------- Layouts --------- */
.portlet-layout {
  overflow: hidden;
  table-layout: fixed;
  word-wrap: break-word; }

.ie8 .lfr-ctrl-panel .portlet-layout {
  table-layout: auto; }

/* ---------- Three small columns left ---------- */
.portlet-layout.three-columns-portlet-layout {
  height: 100%; }

.special-un-column {
  height: 100%;
  position: relative;
  text-align: left; }

.special-un-column .portlet-column-content {
  height: 100%;
  padding: 0 5px 0 5px;
  position: relative; }

.special-un-column .portlet-column-content.portlet-column-content-first {
  padding-left: 0;
  padding-right: 10px; }

.special-un-column .portlet-column-content.portlet-column-content-last {
  padding-left: 10px;
  padding-right: 0; }

.special-un-column .portlet-asset-publisher {
  border: 1px solid;
  background-position: 0 0;
  background-repeat: repeat-x;
  box-shadow: 2px 3px 3px 1px #C2C2C2;
  height: 100%;
  overflow: hidden;
  padding: 0px 5px 0px 5px; }

.special-un-column .portlet-journal-content {
  padding-right: 2px; }

.aui-w33.portlet-column.special-column {
  padding-left: 15px; }

/* ---------- AUI ---------- */
.aui-panel-hd {
  background: #48a7e2 url(../images/custom/gradated-background-reverse.png) repeat-y 0 0;
  color: white;
  text-shadow: none; }

.aui-tabview-list {
  background: #48a7e2 url(../images/custom/gradated-background-reverse.png) repeat-y 0 0;
  border-color: #39A0E0; }

.aui-tabview-list .last, .aui-tabview-list .aui-tab:last-child, .aui-tabview-list .first, .aui-tabview-list .aui-tab:first-child {
  border: 0px; }

.aui-tabview-list li.aui-tab {
  background: transparent none;
  list-style-type: none; }

.aui-tabview-list .aui-tab-content {
  border: 0px;
  background: transparent; }

.aui-tabview-list .aui-tab-content a {
  color: white;
  font-weight: bold;
  text-shadow: none; }

.aui-tabview-list .aui-tab-content a:hover {
  text-shadow: none; }

.aui-tabview-list .current .aui-tab-content {
  background: #48a7e2 url(../images/custom/tabs_active_bg.png) repeat-x 0 0;
  box-shadow: 0px 0px 15px #3189C0 inset; }

.aui-tab-active strong {
  font-weight: bold; }

.aui-panel-ft {
  background-color: white; }

button.aui-toolbar-item {
  border-left-width: 0px; }

button.aui-toolbar-first.aui-toolbar-item {
  border-left-width: 1px; }

/* ---------- LFR Panel ---------- */
.lfr-panel-container {
  border: 0px; }

.lfr-panel.lfr-extended {
  margin-bottom: 5px;
  margin-top: 5px; }

.lfr-panel.lfr-extended .lfr-panel-titlebar {
  background: #48a7e2 url(../images/custom/gradated-background-reverse.png) repeat-y 0 0;
  margin-bottom: 0px; }

.lfr-panel .lfr-panel-titlebar .lfr-panel-title {
  font-size: 13px; }

.lfr-panel.lfr-extended .lfr-panel-titlebar .lfr-panel-title {
  /*color: white;*/
  padding-left: 8px; }

.lfr-actions.lfr-extended, .lfr-actions.lfr-extended ul {
  background-color: white;
  background-image: none;
  font-size: 13px;
  height: 23px; }

.lfr-actions .lfr-trigger strong {
  padding: 0px; }

.lfr-actions.lfr-extended:hover, .lfr-actions.lfr-extended:hover ul {
  background-color: white;
  background-image: none; }

.lfr-panel.lfr-extended .lfr-panel-content {
  border: 1px solid #D7D7D7;
  border-top: 0px;
  padding-top: 6px; }

/* ---------- Control Panel ---------- */
.lfr-ctrl-panel {
  font-size: 11px; }

.lfr-ctrl-panel .portlet-content {
  padding-right: 0px; }

.lfr-ctrl-panel .aui-w25 {
  width: 20%; }

.lfr-ctrl-panel .aui-w75 {
  width: 80%; }

.lfr-ctrl-panel .user-greeting {
  display: none; }

.lfr-ctrl-panel .lfr-panel.lfr-extended .lfr-panel-content a {
  color: black;
  font-size: 11px; }

.lfr-ctrl-panel .lfr-panel.lfr-extended .lfr-panel-titlebar .lfr-panel-title {
  color: white; }

.lfr-ctrl-panel #minimize-panels {
  display: none; }

.lfr-ctrl-panel .category-portlets li {
  padding: 2px 0px 2px 0px; }

.lfr-ctrl-panel .taglib-form-navigator .form-navigator {
  width: 20%; }

.lfr-ctrl-panel .taglib-form-navigator .form-navigator a {
  color: black;
  font-size: 10px;
  text-decoration: underline; }

.lfr-ctrl-panel .taglib-form-navigator .form-section {
  width: 72%; }

.lfr-ctrl-panel h1 .portlet-title-text {
  color: black;
  font-size: 16px;
  padding-top: 5px; }

.lfr-ctrl-panel h1.portlet-title span {
  vertical-align: text-top; }

.lfr-ctrl-panel h1.portlet-title img {
  padding-top: 3px; }

.lfr-ctrl-panel h1.header-title {
  color: #555;
  font-size: 14px; }

.lfr-ctrl-panel .header-back-to a {
  padding-top: 2px; }

.lfr-ctrl-panel h3 {
  color: black;
  font-size: 12px; }

.lfr-ctrl-panel .search-panels .search-panels-input {
  background: white url(../images/custom/search_input_icon_bg.gif) 5px 50% no-repeat;
  display: block;
  padding: 3px 4px 3px 23px;
  width: 136px; }

.lfr-ctrl-panel .taglib-search-iterator ul.lfr-actions {
  width: 50px; }

.lfr-ctrl-panel .taglib-search-iterator .lfr-actions .lfr-trigger .taglib-text {
  display: none; }

.lfr-ctrl-panel .results-row.selected td, .lfr-ctrl-panel.results-row.selected.hover td, .lfr-ctrl-panel .results-row.selected td a, .results-row.selected.hover td a {
  background: inherit;
  border: inherit;
  color: #9D0D15; }

.lfr-ctrl-panel .results-row.selected .lfr-actions {
  border-color: #9D0D15; }

.lfr-ctrl-panel .results-row.selected .lfr-actions.show-arrow .lfr-trigger strong a {
  background: transparent url(/un-ldc-portal-v2-theme/images/arrows/05_left.png) no-repeat 5% 50%; }

.category-portlets {
  clear: left; }

/* ---------- Search container ---------- */
tr.portlet-section-header.results-header {
  background-repeat: repeat-y;
  background-position: 0 0; }

.chrome tr.portlet-section-header.results-header {
  background-image: none; }

.portlet-section-header.results-header th {
  background: transparent;
  border: 0px;
  font-size: 11px;
  color: white; }

.portlet-section-header.results-header th a {
  color: white; }

/* ---------- Breadcrumbs ---------- */
.portlet-breadcrumb {
  margin: -5px 0px 20px 0px; }

.breadcrumbs {
  background-color: #FFF;
  border: 0px solid #C8E9FF;
  font-size: 11px;
  margin: 0;
  /* 	-moz-border-radius: 4px; */
  /* 	-webkit-border-radius: 4px; */
  /* 	border-radius: 4px; */
  width: auto; }

.breadcrumbs li {
  background-image: none;
  margin-right: 0;
  padding-left: 0.75em;
  padding-right: 0; }

.breadcrumbs li span {
  background: url(../images/custom/breadcrumbs_lightblue.png) no-repeat 100% 50%;
  display: block;
  padding: 0.5em 15px 0.5em 0; }

.breadcrumbs li span a {
  text-decoration: none; }

.breadcrumbs li.first {
  font-weight: bold; }

.breadcrumbs li.last {
  color: black; }

.breadcrumbs .last {
  margin-top: 0;
  padding-right: 0; }

.breadcrumbs .last span {
  background-image: none;
  padding: 0; }

.breadcrumbs ul, .aui-form-validator-message {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

/* ---------- UN brandbar ---------- */
#un-brandbar {
  background-color: #C2C6CF;
  background-image: url("http://www.un.org/common/images/brandbarbkgd.jpg");
  background-repeat: repeat-x;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 4px; }

#un-brandbar .unicon {
  padding-right: 0.4em;
  padding-top: 0.2em; }

#un-brandbar .welcome {
  color: #333333;
  display: block;
  float: left;
  font-size: 11px;
  margin-top: 0.2em;
  padding-top: 0.2em; }

#un-brandbar .welcome a {
  color: #1E1E1E;
  text-decoration: none; }

#un-brandbar .welcome a:HOVER {
  text-decoration: underline; }

#un-brandbar #un-brandbar-searchfrm {
  float: right;
  margin-bottom: 0;
  margin-top: 0;
  text-align: right; }

#un-brandbar #un-brandbar-searchfrm .textbox {
  font-size: 90%;
  height: 9px;
  margin-top: 1px;
  width: 12em; }

#un-brandbar #un-brandbar-searchfrm .button {
  border-color: #BFBFBF #DEDEDE #DEDEDE #BFBFBF;
  box-shadow: none;
  font-size: 78%;
  height: 21px;
  margin-bottom: 0px;
  margin-top: 1px;
  vertical-align: top; }

