/* ---------- Discussion ---------- */
.taglib-discussion .taglib-text {
  text-decoration: none; }

.taglib-discussion .taglib-icon {
  color: black; }

.taglib-discussion-header {
  height: 42px;
  margin-bottom: 6px;
  padding-left: 18px; }

.taglib-discussion-header .header-text {
  color: white;
  font-size: 17px;
  padding-top: 9px; }

.taglib-discussion-header .subscription {
  float: right;
  margin: 14px 8px 0px 0px; }

.taglib-discussion .taglib-ratings {
  display: none; }

.taglib-discussion .taglib-user-display {
  float: left; }

.taglib-discussion .taglib-user-display .user-name {
  display: none; }

.taglib-discussion .lfr-discussion {
  margin-bottom: 8px; }

.taglib-discussion .lfr-discussion.new {
  border-bottom: 0px;
  border-top: 0px;
  padding-top: 13px; }

.taglib-discussion .lfr-discussion.last {
  border-bottom: 1px solid #DDD;
  margin-bottom: 0px; }

.taglib-discussion .lfr-discussion-body-content {
  padding-top: 0px; }

.taglib-discussion .lfr-discussion-header .user-name {
  font-size: 17px; }

.taglib-discussion .lfr-discussion-header .posted-on {
  font-size: 10px;
  float: right;
  margin-top: 5px; }

.taglib-discussion .lfr-discussion-message {
  font-size: 11px;
  margin: 3px 23px 0px 23px;
  text-align: justify; }

.taglib-discussion .aui-button-holder {
  float: right;
  margin-top: 0px;
  text-align: right; }

/* ---------- Social bookmarks ---------- */
.taglib-social-bookmarks {
  background: white; }

/* ---------- Header ---------- */
.taglib-header .header-back-to a {
  padding-top: 3px; }

