			<div id="un-brandbar">			
			    <img src="http://www.un.org/en/images/unicon.jpg" height="18" width="21"
			         alt="" class="unicon" align="left"/>
			    <span class="welcome"><a href="http://www.un.org/en/index.shtml">#language("welcome-to-the-un")</a></span>
			    <div>
			        <form id="un-brandbar-searchfrm" name="un-brandbar-searchfrm" method="get"
			              action="http://search.un.org/search" >
			            <input type="hidden" name="ie" value="utf8" />
			            <input type="hidden" name="site" value="un_org" />
			            <input type="hidden" name="output" value="xml_no_dtd" />
			            <input type="hidden" name="client" value="UN_Website_English" />
			            <input type="hidden" name="num" value="10" />
			            <input name="lr" type="hidden" value="lang_en" />
			            <input type="hidden" name="proxystylesheet" id="proxystylesheet"
			                   value="UN_Website_$locale.getLanguage()" />
			            <input type="hidden" name="oe" value="utf8" />
			            <!-- <label for="search">UN Search</label> -->
			            <input class="textbox" type="text" name="q" id="search" size="22"
			                   onfocus="this.value='';" value="#language("search-un-website")" />
			            <input class="button" type="submit" name="Submit" value="Go" />
			        </form>
			    </div>			
			</div>