.darkblue h1, .darkblue h2, .darkblue h3, .darkblue a, .darkblue .taglib-discussion .lfr-discussion-header .posted-on {
  color: #265D89; }

.darkblue .taglib-discussion-header {
  background-color: #5185AE; }

.darkblue .taglib-discussion-header .subscription .taglib-icon {
  color: white; }

.darkblue .special-un-column .portlet-asset-publisher,
.special-un-column .portlet-asset-publisher.darkblue {
  border-color: #B6BED4;
  background-color: white;
  background-image: url(../../images/custom/background_darkblue_1.png); }

.darkblue .special-un-column.special-un-column-middle .portlet-asset-publisher,
.special-un-column.special-un-column-middle .portlet-asset-publisher.darkblue {
  background-color: #F2F5F7;
  background-image: url(../../images/custom/background_darkblue_2.png); }

.darkblue input[type="submit"], .darkblue input[type="button"], .darkblue input[type="reset"], .darkblue button, button.aui-toolbar-item {
  border-color: #B6BED4; }

.darkblue .tooltip:hover span {
  border-color: #003762; }

.darkblue tr.portlet-section-header.results-header, .darkblue .chrome tr.portlet-section-header.results-header {
  background-color: #265D89; }

/* ------ Message Boards Portlet ------ */
.darkblue .portlet-message-boards .thread-controls {
  background-color: #265D89; }

.darkblue .breadcrumbs li span {
  background-image: url(../../images/custom/breadcrumbs_darkblue.png); }

.darkblue .breadcrumbs .last span {
  background-image: none; }

/* ------ Breadcrumbs ------ */
.darkblue .breadcrumbs li {
  color: #265D89; }

