/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
@import url(color_schemes/lightblue.css);

@import url(color_schemes/darkblue.css);

@import url(color_schemes/red.css);

@import url(color_schemes/green.css);

@import url(custom_taglib.css);

@import url(custom_portlet.css);

@import url(custom_forms.css);

/* ---------- Base styles ---------- */
body {
	background-color: #DDF0FB;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	text-align: justify;
}

a:LINK,a:VISITED {
	text-decoration: none;
}

a:HOVER,a:ACTIVE {
	text-decoration: underline;
}

.portlet-dockbar a {
	color: black;
}

h1 {
	font-size: 20px;
	margin-top: 0px;
	line-height: 22px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 16px;
}

#wrapper {
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	margin-left: auto;
}

#topbar {
	background: #48A7E2 url(../images/custom/gradated-background.png)
		repeat-y 0 0;
	color: white;
	font-size: 11px;
	font-weight: bold;
	height: 21px;
	padding-right: 18px;
	text-align: right;
}

#topbar a {
	color: white;
	font-weight: bold;
	padding-left: 8px;
	vertical-align: middle;
}

#topbar .sign-in-link a {
	background: url(../images/common/key_small.png) no-repeat 3px 50%;
	padding-left: 17px;
}

#topbar .sign-out-link a {
	padding-right: 5px;
}

#topbar .dashboard-link.dashboard-selected {
	font-style: italic;
}

#portal-banner {
	background: #BDD1E0 url(../images/custom/ldcportal-banner.jpg);
	display: block;
	height: 118px;
}

#navigation {
	background: #48A7E2 url(../images/custom/gradated-background.png)
		repeat-y 0 0;
	display: block;
	height: 33px;
}

#navigation ul {
	display: block;
	margin: 0px 0px 0px 37px;
	padding-top: 6px;
}

#navigation li {
	display: inline-block;
	letter-spacing: -1px;
	list-style: none;
	margin-right: 17px;
	list-style: none;
}

#navigation li.selected {
	font-weight: bold;
}

#navigation li a {
	color: white;
	font-size: 15px;
}

#main-search,  #main-search form{
	margin-left: 8px;
	display: inline;
}

#main-search select {
	display: none;
}

#main-search input[type="text"] {
	padding: 3px 1px 2px 1px;
	margin-top: 1px;
}

#main-search .search-text-container {
	width: 90px;
}

#content {
	background-color: white;
	border: 0px;
	border-left: 1px solid #B4DDF6;
	border-right: 1px solid #57B7F2;
	padding: 10px 19px 12px 20px;
}

/* ---------- Tooltip ---------- */
.tooltip {
	border-bottom: 1px dotted #C8E9FF;
	cursor: help;
	outline: none;
	text-decoration: none;
	position: relative;
}

.tooltip span {
	margin-left: -999em;
	position: absolute;
}

.tooltip:hover {
	text-decoration: none;
}

.tooltip:hover span {
	background: white;
	border-width: 1px;
	border-style: solid;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	color: black;
	position: absolute;
	left: 1em;
	top: 1.5em;
	z-index: 99;
	margin-left: 0;
	padding: 5px;
	width: 250px;
	position: absolute;
	color: black;
}

/* ---------- Footer ---------- */
#footer {
	background: #48A7E2 url(../images/custom/gradated-background.png)
		repeat-y 0 0;
	display: block;
}

#footer ul {
	margin: 0px;
	padding-top: 0px;
	text-align: center;
}

#footer li {
	color: white;
	display: inline;
	list-style: none;
}

#footer li a {
	color: white;
	font-size: 11px;
}

/* ---------- Right menu ---------- */
.aui-w30 {
	padding-left: 15px;
}

.right-menu .portlet {
	padding-bottom: 13px;
	text-align: left;
}

.right-menu .portlet-body a {
	color: #39A0E0;
	font-weight: bold;
}

.right-menu .portlet-title {
	background-color: #39A0E0;
	color: white;
	font-size: 13px;
	height: 23px;
	text-align: center;
}

.right-menu .portlet-title-text {
	vertical-align: middle;
}

.right-menu .portlet-content {
	background: #ECF7FD url(../images/custom/background_rightmenu.png)
		no-repeat 0 0;
	border: 1px solid #C8E9FF;
	padding: 0px 10px 0px 10px;
}

.right-menu h3.asset-title,.right-menu ul.title-list li {
	background: transparent 0 6px no-repeat
		url(../images/custom/blue_bullet.png);
	text-indent: 12px;
}

/* ---------- Portal Pop Up ---------- */
.portal-popup .lfr-panel.lfr-extended .lfr-panel-titlebar {
	background: white;
	border: 1px solid #39A0E0;
}

.portal-popup .lfr-panel .lfr-panel-titlebar .lfr-panel-title {
	color: #1C88CB;
}

/* ---------- Layouts --------- */
.portlet-layout {
	overflow: hidden;
	table-layout: fixed;
	word-wrap: break-word;
}

.ie8 .lfr-ctrl-panel .portlet-layout {
	table-layout: auto;
}

/* ---------- Three small columns left ---------- */
.portlet-layout.three-columns-portlet-layout
	/* , .portlet-layout.three-columns-portlet-layout .portlet-asset-publisher .portlet-body, */
	/* .portlet-layout.three-columns-portlet-layout .portlet-asset-publisher .portlet, */
	/* .portlet-layout.three-columns-portlet-layout .portlet-asset-publisher .portlet-content, */
	/* .portlet-layout.three-columns-portlet-layout .portlet-asset-publisher .portlet-content-container */
	{
	height: 100%;
}

.special-un-column {
	height: 100%;
	position: relative;
	text-align: left;
}

.special-un-column .portlet-column-content {
	height: 100%;
	padding: 0 5px 0 5px;
	position: relative;
}

.special-un-column .portlet-column-content.portlet-column-content-first
	{
	padding-left: 0;
	padding-right: 10px;
}

.special-un-column .portlet-column-content.portlet-column-content-last {
	padding-left: 10px;
	padding-right: 0;
}

.special-un-column .portlet-asset-publisher {
	border: 1px solid;
	background-position: 0 0;
	background-repeat: repeat-x;
	box-shadow: 2px 3px 3px 1px #C2C2C2;
	height: 100%;
	overflow: hidden;
	padding: 0px 5px 0px 5px;
}

.special-un-column .portlet-journal-content {
	padding-right: 2px;
}

.aui-w33.portlet-column.special-column {
	padding-left: 15px;
}

.special-right-column {
	
}

/* ---------- AUI ---------- */
.aui-panel-hd {
	background: #48A7E2
		url(../images/custom/gradated-background-reverse.png) repeat-y 0 0;
	color: white;
	text-shadow: none;
}

.aui-tabview-list {
	background: #48A7E2
		url(../images/custom/gradated-background-reverse.png) repeat-y 0 0;
	border-color: #39A0E0;
}

.aui-tabview-list .last,.aui-tabview-list .aui-tab:last-child,.aui-tabview-list .first,.aui-tabview-list .aui-tab:first-child
	{
	border: 0px;
}

.aui-tabview-list li.aui-tab {
	background: transparent none;
	list-style-type: none;
}

.aui-tabview-list .aui-tab-content {
	border: 0px;
	background: transparent;
}

.aui-tabview-list .aui-tab-content a {
	color: white;
	font-weight: bold;
	text-shadow: none;
}

.aui-tabview-list .aui-tab-content a:hover {
	text-shadow: none;
}

.aui-tabview-list .current .aui-tab-content {
	background: #48A7E2 url(../images/custom/tabs_active_bg.png) repeat-x 0
		0;
	box-shadow: 0px 0px 15px #3189C0 inset;
}

.aui-tab-active strong {
	font-weight: bold;
}

.aui-panel-ft {
	background-color: white;
}

button.aui-toolbar-item {
	border-left-width: 0px;
}

button.aui-toolbar-first.aui-toolbar-item {
	border-left-width: 1px;
}

/* ---------- LFR Panel ---------- */
.lfr-panel-container {
	border: 0px;
}

.lfr-panel.lfr-extended {
	margin-bottom: 5px;
	margin-top: 5px;
}

.lfr-panel.lfr-extended .lfr-panel-titlebar {
	background: #48A7E2
		url(../images/custom/gradated-background-reverse.png) repeat-y 0 0;
	margin-bottom: 0px
}

.lfr-panel .lfr-panel-titlebar .lfr-panel-title {
	font-size: 13px;
}

.lfr-panel.lfr-extended .lfr-panel-titlebar .lfr-panel-title {
	/*color: white;*/
	padding-left: 8px;
}

.lfr-actions.lfr-extended,.lfr-actions.lfr-extended ul {
	background-color: white;
	background-image: none;
	font-size: 13px;
	height: 23px;
}

.lfr-actions .lfr-trigger strong {
	padding: 0px;
}

.lfr-actions.lfr-extended:hover,.lfr-actions.lfr-extended:hover ul {
	background-color: white;
	background-image: none;
}

.lfr-panel.lfr-extended .lfr-panel-content {
	border: 1px solid #D7D7D7;
	border-top: 0px;
	padding-top: 6px;
}

/* ---------- Control Panel ---------- */
.lfr-ctrl-panel {
	font-size: 11px;
}

.lfr-ctrl-panel .portlet-content {
	padding-right: 0px;
}

.lfr-ctrl-panel .aui-w25 {
	width: 20%;
}

.lfr-ctrl-panel .aui-w75 {
	width: 80%;
}

.lfr-ctrl-panel .user-greeting {
	display: none;
}

.lfr-ctrl-panel .lfr-panel.lfr-extended .lfr-panel-content a {
	color: black;
	font-size: 11px;
}

.lfr-ctrl-panel .lfr-panel.lfr-extended .lfr-panel-titlebar .lfr-panel-title
	{
	color: white;
}

.lfr-ctrl-panel #minimize-panels {
	display: none;
}

.lfr-ctrl-panel .category-portlets li {
	padding: 2px 0px 2px 0px;
}

.lfr-ctrl-panel .taglib-form-navigator .form-navigator {
	width: 20%;
}

.lfr-ctrl-panel .taglib-form-navigator .form-navigator a {
	color: black;
	font-size: 10px;
	text-decoration: underline;
}

.lfr-ctrl-panel .taglib-form-navigator .form-section {
	width: 72%;
}

.lfr-ctrl-panel h1 .portlet-title-text {
	color: black;
	font-size: 16px;
	padding-top: 5px;
}

.lfr-ctrl-panel h1.portlet-title span {
	vertical-align: text-top;
}

.lfr-ctrl-panel h1.portlet-title img {
	padding-top: 3px;
}

.lfr-ctrl-panel h1.header-title {
	color: #555;
	font-size: 14px;
}

.lfr-ctrl-panel .header-back-to a {
	padding-top: 2px;
}

.lfr-ctrl-panel h3 {
	color: black;
	font-size: 12px;
}

.lfr-ctrl-panel .search-panels .search-panels-input {
	background: white url(../images/custom/search_input_icon_bg.gif) 5px 50%
		no-repeat;
	display: block;
	padding: 3px 4px 3px 23px;
	width: 136px;
}

.lfr-ctrl-panel .taglib-search-iterator ul.lfr-actions {
	width: 50px;
}

.lfr-ctrl-panel .taglib-search-iterator .lfr-actions .lfr-trigger .taglib-text
	{
	display: none;
}

.lfr-ctrl-panel .results-row.selected td,.lfr-ctrl-panel.results-row.selected.hover td,.lfr-ctrl-panel .results-row.selected td a,.results-row.selected.hover td a
	{
	background: inherit;
	border: inherit;
	color: #9D0D15;
}

.lfr-ctrl-panel .results-row.selected .lfr-actions {
	border-color: #9D0D15;
}

.lfr-ctrl-panel .results-row.selected .lfr-actions.show-arrow .lfr-trigger strong a
	{
	background: transparent
		url(/un-ldc-portal-v2-theme/images/arrows/05_left.png) no-repeat 5%
		50%;
}

.category-portlets {
	clear: left;
}

/* ---------- Search container ---------- */
tr.portlet-section-header.results-header {
	background-repeat: repeat-y;
	background-position: 0 0;
}

.chrome tr.portlet-section-header.results-header {
	background-image: none;
}

.portlet-section-header.results-header th {
	background: transparent;
	border: 0px;
	font-size: 11px;
	color: white;
}

.portlet-section-header.results-header th a {
	color: white;
}

/* ---------- Breadcrumbs ---------- */
.portlet-breadcrumb {
	margin: -5px 0px 20px 0px;
}

.breadcrumbs {
	background-color: #FFF;
	border: 0px solid #C8E9FF;
	font-size: 11px;
	margin: 0;
	/* 	-moz-border-radius: 4px; */
	/* 	-webkit-border-radius: 4px; */
	/* 	border-radius: 4px; */
	width: auto;
}

.breadcrumbs li {
	background-image: none;
	margin-right: 0;
	padding-left: 0.75em;
	padding-right: 0;
}

.breadcrumbs li span {
	background: url(../images/custom/breadcrumbs_lightblue.png) no-repeat 100% 50%;
	display: block;
	padding: 0.5em 15px 0.5em 0;
}

.breadcrumbs li span a {
	text-decoration: none;
}

.breadcrumbs li.first {
	font-weight: bold;
}

.breadcrumbs li.last {
	color: black;
}

.breadcrumbs .last {
	margin-top: 0;
	padding-right: 0;
}

.breadcrumbs .last span {
	background-image: none;
	padding: 0;
}

.breadcrumbs ul,.aui-form-validator-message {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/* ---------- UN brandbar ---------- */
#un-brandbar {
	background-color: #C2C6CF;
	background-image:
		url("http://www.un.org/common/images/brandbarbkgd.jpg");
	background-repeat: repeat-x;
	height: 24px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 4px;
}

#un-brandbar .unicon {
	padding-right: 0.4em;
	padding-top: 0.2em;
}

#un-brandbar .welcome {
	color: #333333;
	display: block;
	float: left;
	font-size: 11px;
	margin-top: 0.2em;
	padding-top: 0.2em;
}

#un-brandbar .welcome a {
	color: #1E1E1E;
	text-decoration: none;
}

#un-brandbar .welcome a:HOVER {
	text-decoration: underline;
}

#un-brandbar #un-brandbar-searchfrm {
	float: right;
	margin-bottom: 0;
	margin-top: 0;
	text-align: right;
}

#un-brandbar #un-brandbar-searchfrm .textbox {
	font-size: 90%;
	height: 9px;
	margin-top: 1px;
	width: 12em;
}

#un-brandbar #un-brandbar-searchfrm .button {
	border-color: #BFBFBF #DEDEDE #DEDEDE #BFBFBF;
	box-shadow: none;
	font-size: 78%;
	height: 21px;
	margin-bottom: 0px;
	margin-top: 1px;
	vertical-align: top;
}

#topbar .portlet-language {
	display: inline;
	float: left;
}

