@import "compass";

@mixin input-field-default {
	/*background-image: url(../images/forms/input_shadow.png);*/
	background-repeat: no-repeat;
	border: 1px solid;
	border-color: #BFBFBF #DEDEDE #DEDEDE #BFBFBF;
	font: 1em Arial, Helvetica, Verdana, sans-serif;
}

@mixin input-field-focus {
	background: #FFC none;
	border: 1px solid #FC0;
}

@mixin button-default {
	background-image: none;
	background-color: white;
	border: 1px solid;
	border-color: #39A0E0;
	box-shadow: 1px 1px 3px #B0B0B0;
	color: #313131;
	cursor: pointer;
	font-weight: normal;
	margin-bottom: 3px;
	overflow: visible;
	padding: 5px;
	width: auto;
}



@mixin button-disabled {
	background: #D4D4D4 url(../images/portlet/header_bg.png) repeat-x 0 0;
	border-color: #C8C9CA #9E9E9E #9E9E9E #C8C9CA;
	color: #555;
	opacity: 0.5;
}

@mixin button-hover {
	/*background: #B9CED9 url(../images/application/state_hover_bg.png) repeat-x 0 0;*/
	background-color: #EDF7FD;
	background-image: none;
	border-color: #39A0E0;
	color: #369;
}

@mixin button-focus {
	/*background: #EBEBEB url(../images/application/state_active_bg.png) repeat-x 0 0;*/
	background-color: #EDF7FD;
	border-color: #555;
}


input[type="text"], input[type="password"], input[type="file"], input[type="submit"], input[type="button"], input[type="reset"], select, textarea, .textarea, button {
	@include input-field-default;
}

input[type="submit"], input[type="button"], input[type="reset"], button, button.aui-toolbar-item  {
	@include button-default;

	&:hover {
		@include button-hover;
	}

	&:focus {
		@include button-focus;
	}
}

input, textarea {
	&.focus {
		@include input-field-focus;
	}
}

.lfr-actions.lfr-extended {
	&, ul {
		@include button-default;
		padding: 0;
	}

	&:focus {
		&, ul {
			@include button-focus;
		}
	}

	&.disabled, &.disabled:hover {
		&, ul {
			@include button-disabled;
		}
	}

	&:hover {
		&, ul {
			@include button-hover;
		}
	}
}


.aui-button-disabled {
	input[type], button {
		&, &:hover, &:focus {
			@include button-disabled;
		}
	}
}

.aui-buttonitem-disabled {
	@include button-disabled;
}

input.aui-form-validator-error, textarea.aui-form-validator-error, select.aui-form-validator-error {
	border-color: #900;
	border-style: dotted;
}

.aui-field-content {
	text-align: left;
}

.aui-field-choice .aui-field-label {
	display: inline;
}

/* Custom from extras.css */

body > .lfr-menu-list, body > .lfr-menu-list ul, .lfr-actions, .aui-dialog-content, .aui-dialog .yui3-widget-hd, .modify-pages .delete-tab, input[type="submit"], input[type="button"], input[type="reset"], button, .tags-search-combobox .aui-field-input-text, .staging-icon-menu-container .staging-icon-menu.lfr-actions .lfr-trigger strong a, .active-area-proxy, .portlet-document-library .document-display-style .document-thumbnail img, .portlet-document-library-display .document-display-style .document-thumbnail img, .aui-paginator-link, .lfr-header-row .aui-toolbar-only, .lfr-translation-manager, .lfr-translation-manager-translation, .select-documents, .select-files, .taglib-ratings.stars:hover, .taglib-ratings.stars:hover .liferay-rating-vote, .rule-group-instance-container .rule-group-instance {
	@include border-radius(0px);
}

select {
	border: 1px solid #39A0E0;
	background-color: white;
}


