## Used to hide footer items from the main menu
#set ($mainGroupId1 = $getterUtil.getLong('10179')) 
#set($layoutLocalServiceUtil = $serviceLocator.findService("com.liferay.portal.service.LayoutLocalService"))
#set($topPublicLayouts = $layoutLocalServiceUtil.getLayouts($mainGroupId1, false))

#foreach ($lay_item in $topPublicLayouts)
	#if ($lay_item.isHidden() && $lay_item.getFriendlyURL() == "/footer")
		#foreach ($nav_child in $lay_item.getChildren())
			#if ($nav_child.isSelected())
				#set ($nav_child_class = "selected")
			#else
				#set ($nav_child_class = "")
			#end

			<li class="$nav_child_class">
				<a href="$company_url$nav_child.getFriendlyURL()"><span>$nav_child.getName($locale)</span></a> 
				#if ($velocityCount != $lay_item.getChildren().size()) 
					&nbsp; | &nbsp
				#end
			</li>                                 
		#end
	#end
	#if ($lay_item.getFriendlyURL() == "/portal-help")
		<li class="$nav_child_class">
			&nbsp; | &nbsp
			<a href="$company_url/portal-help"><span> $lay_item.getName($locale)</span></a> 
		</li>
	#end
#end
