.green h1,.green h2,.green h3,.green a,.green .taglib-discussion .lfr-discussion-header .posted-on
	{
	color: #4D6811;
}

.green .taglib-discussion-header {
	background-color: #92A85E;
}

.green .taglib-discussion-header .subscription .taglib-icon {
	color: white;
}

.green .special-un-column .portlet-asset-publisher,.special-un-column .portlet-asset-publisher.green
	{
	border-color: #9EB7A2;
	background-color: white;
	background-image: url(../../images/custom/background_green_1.png);
}

.green .special-un-column.special-un-column-middle .portlet-asset-publisher,.special-un-column.special-un-column-middle .portlet-asset-publisher.green
	{
	background-color: #F6F7F3;
	background-image: url(../../images/custom/background_green_2.png);
}

.green input[type="submit"],.green input[type="button"],.green input[type="reset"],.green button,.green button.aui-toolbar-item
	{
	border-color: #9EB7A2;
}

.green .tooltip:hover span {
	border-color: #4D6811;
}

.green tr.portlet-section-header.results-header, .green .chrome tr.portlet-section-header.results-header {
	background-color: #4D6811;
}

/* ------ Message Boards Portlet ------ */
.green .portlet-message-boards .thread-controls {
	background-color: #4D6811;
}
.green .breadcrumbs .last span {
	background-image: none;
}

/* ------ Breadcrumbs ------ */
.green .breadcrumbs li {
	color: #4D6811;
}
.green .breadcrumbs li span {
	background-image: url(../../images/custom/breadcrumbs_green.png);
}
