.portlet-ism-plugin-categories {
  padding-bottom: 10px;
  padding-left: 20px;
  padding-top: 10px; }

.portlet-ism-plugin-categories .description-parent-category {
  font-weight: bold; }

.portlet-ism-plugin-categories .description-category {
  padding-bottom: 2px;
  padding-left: 15px;
  padding-top: 2px; }

