.portlet-ism-plugin {
  margin-bottom: 30px; }

.portlet-ism-plugin.popup label {
  margin-bottom: 3px;
  margin-top: 10px; }

.portlet-ism-plugin.popup textarea {
  height: 100px;
  width: 70%; }

.portlet-ism-plugin.popup .lfr-panel-title {
  margin: 4px; }

.portlet-ism-plugin.popup {
  float: none; }

.portlet-ism-plugin .portlet-content .aui-button-input {
  margin-right: 8px;
  float: right; }

